<%= render 'users/user_menu' %>
<div class="page-header">
   
       <table  class="table table-hover table-striped"> 
        <thead>
                <tr>
                  <th>课程</th>
                  <th>老师</th>
                  <th>学期</th>


                </tr>
  </thead> 
   <tbody> 
  <% @all_course_years.each do |cy| %>     
  <tr>
    <td><%= cy.course.name%></td> 
    <td><%= cy.course.user.name %></td> 
    <th><%= cy.year%> <%= cy.semester%></th>
  </tr> 
  <%end%>   
  </tbody>
</table>
<%= will_paginate @all_course_years %> 
</div>

</div>
<%= render 'users/user_info'%>