<%= form_for(@course_year) do |f| %>
  <% if @course_year.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_year.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course_year.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :notice %><br />
    <%= f.text_field :notice %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', course_year_assignments_path(@course_year) %>