<%= render "layouts/course_year_menu"%>
<ul class="nav nav-tabs">
  <li class="active">
    <a href="#">学生</a>
  </li>
  <li><a href="#">配置</a></li>
</ul>
<table  class="table table-hover table-striped">                        
	<thead>
                <tr>
                  <th>学号</th>
                  <th>姓名</th>
                  <th>状态</th>
                  <th>操作</th>
                </tr>
  </thead> 
  <tbody> 
   <% @course_year.user_course_years.each do |uc| %>     
	<tr>  
		<td><%= uc.user.user_num %></td> 
		<td><%= uc.user.name %></td>
		<td><% if uc.status == 1%>
			<span class="badge badge-success">通过</span>
			
			<% elsif uc.status == 0%>

			<span class="badge badge-important">待审核</span>



			<%end%>
		</td> 
         <td>
         	<% if uc.status == 0%>
         	<%= link_to "批准",approve_user_course_year_path(uc)%>
               <%= link_to "不批准",user_course_year_path(uc),:method => 'delete'%> </td>
            <%elsif uc.status == 1%>
               <%= link_to "移除",user_course_year_path(uc),:method => 'delete'%> </td>
            <%end%>

	</tr> 
	<%end%>   
	</tbody>
</table>