<%= render "layouts/course_year_menu"%>
<div class="container-fluid">
  <div class="row-fluid">
<div class="span8 hero-unit">
	<div class="page-header">
  <h4>选课学生<span class="divider"></h4>
</div>
	<table  class="table table-hover table-striped">                        
	<thead>
                <tr>
                  <th>学号</th>
                  <th>姓名</th>
                  <th>状态</th>
                  <th>操作</th>
                </tr>
  </thead> 
  <tbody> 
   <% @user_course_years.each do |uc| %>     
	<tr>  
		<td><%= uc.user.user_num %></td> 
		<td><%= uc.user.name %></td>
		<td><% if uc.status == 1%>
			<span class="badge badge-success">通过</span>
			
			<% elsif uc.status == 0%>

			<span class="badge badge-important">待审核</span>



			<%end%>
		</td> 
         <td>
         	<% if uc.status == 0%>
         	<%= link_to "批准",approve_user_course_year_path(uc)%>
               <%= link_to "不批准",user_course_year_path(uc),:method => 'delete'%> </td>
            <%elsif uc.status == 1%>
               <%= link_to "移除",user_course_year_path(uc),:method => 'delete'%> </td>
            <%end%>

	</tr> 
	<%end%>   
	</tbody>
</table>
<%= will_paginate @user_course_years %> 
<div>
<span><label>添加学生</label>
    <%= form_tag user_course_years_path,:method => "post" do %>
	<%= text_field_tag :user_num%>
	<%= hidden_field_tag "course_year_id",@course_year.id %>
	<%= submit_tag "添加"%>
	<%end%></span>
	</div>
</div>
<div class="span4 hero-unit">
<div class="page-header">
  <h4>助教<span class="divider"></h4>
</div>
		<table  class="table table-hover table-striped">                        
	<thead>
                <tr>
                  <th>学号</th>
                  <th>姓名</th>
                  
                  <th>操作</th>
                </tr>
  </thead> 
  <tbody> 
   <% @assistants.each do |a| %>     
	<tr>  
		<td><%= a.user.user_num %></td> 
		<td><%= a.user.name %></td>		
         <td><%= link_to "移除",course_year_assistant_path(@course_year,a),:method => "delete"%></td>
	</tr> 
	<%end%>   
	</tbody>
</table>
<%= will_paginate @assistants %> 
	<p>添加助教</p>
    <%= form_tag course_year_assistants_path(@course_year),:method => "post" do %>
	<%= text_field_tag :user_num%>
	<%= submit_tag "添加"%>
	<%end%>
	</div>
</div>
</div>
