<%= render "layouts/course_year_menu" %>
<table  class="table table-hover table-striped">                        
	<thead>
                <tr>
                  <th>作业标题</th>
                  <th>作业描述</th>
                  <th>添加者</th>
                  <th>操作</th> 

                </tr>
  </thead> 
  <tbody> 
	<% @assignments.each do |a| %>     
	<tr>  
		<td><%= a.title %></td> 
		<td><%= a.desp %></td> 
		<td><%= a.user.name %></td> 
		<td><%= link_to "view details" ,assignment_path(a)%></td> 
	</tr> 
	<%end%>   
	</tbody>
</table>
<% if !current_user or current_user.has_role? :teacher or current_user.has_role? :TA%>
<%= link_to '新建作业', new_course_year_assignment_path(@course_year) ,class:"btn"%>

<% end %>
