<%= form_for(@assignment) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<h1>New assignment</h1>

<%= form_for @assignment,:url => course_year_assignments_path do |f| %>

  <div class="field">
    <%= f.label :作业标题 %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :作业描述 %><br />
    <%= f.text_field :desp %>
  </div>
  <div class="field">
    <%= f.label :截止时间 %><br />
    <input id="assignment_end_time" class="datepicker" type="text" size="30" name="assignment[end_time]" 
    data-date-format="yyyy-mm-dd">
  </div>
  <div class="actions">
    <%= f.submit "Create"%>
  </div>
<% end %>