<%= form_for @user, :url => register_path do |form|%>
	<fieldset>
		<legend>注册</legend>   
		<label >学号:</label>
		<%= form.text_field :user_num %>
		
		<br/>
		<label> 密码:</label>
		<%= form.password_field :password%>
		<br/> 
		<label >姓名:</label>
		<%= form.text_field :name %>
        <br/>
		<label >邮箱:</label>
	    <%= form.text_field :email %>

		<br/> 
		
		<%= submit_tag "注册", :class => "submit",class:"btn" %> 
	   
	</fieldset>
<% end %>