


﻿<table  class="table table-hover table-striped">                        
	<thead>
                <tr>
                  <th>学生</th>
                  <th>上交时间</th>
                  <th>附件名称</th>
                  <th>操作</th> 

                </tr>
  </thead> 
  <tbody> 
	<% studentCourseAssignments.each do |sta| %>     
	<tr>  
		<td><% if !sta.blank? %>
			<% if !sta.user.blank?%>
			    <%= sta.user.name %>
			    <%end%>
		   <%end%>
		</td> 
		<td><%=sta.created_at%></td> 
		<th><% if !sta.attachments.blank? %>
			    <% sta.attachments.each do |a| %>
			    	<%= link_to_attachment a ,:download=>true%>
			    <%end%>
		   <%end%></th>
		<td>
		 <% sta.attachments.each do |a| %>
		 
			<%= link_to "查看", attachment_path(a), :target => "_blank" %>
		 <%end%>
			<%= link_to "评分", grade_assignment_student_course_assignment_path(@assignment,sta), :target => "_blank" %>
			<%= link_to "删除", student_course_assignment_path(sta),:method => "delete"%>
			
			
		</td> 
					
	</tr> 
	<%end%>   
	</tbody>

</table>