


﻿<table  class="table table-hover table-striped">                        
	<thead>
                <tr>
                  <th>学生</th>
                  <th>上交时间</th>
                  <th>附件名称</th>
                  <% if @assignment.status == 1%>

                   <th>分数</th>
                   <%end%>
                  <th>操作</th> 

                </tr>
  </thead> 
  <tbody> 
	<% studentCourseAssignments.each do |sta| %>     
	<tr>  
		<td><% if !sta.blank? %>
			<% if !sta.user.blank?%>
			    <%= sta.user.name %>
			    <%end%>
		   <%end%>
		</td> 
		<td><%=sta.created_at%></td> 
		<th><% if !sta.attachments.blank? %>
			    <% sta.attachments.each do |a| %>
			    	<% if sta.assignment.status == 1||can?(:manage,@assignment)  %>
			    	<%= link_to_attachment a ,:download=>true %>
			    	<% else %>
			    	<%= a.user_upload_file_name%>
			    	<% end %>
			    <%end%>
		   <%end%></th>
		<% if @assignment.status == 1%>
			<td><%=sta.score%></td>
				<%end %> 
		<td>
			
		
		 <% sta.attachments.each do |a| %>
		 
			<%= link_to "查看包", attachment_path(a), :target => "_blank" if sta.assignment.status == 1||can?(:manage,@assignment) %>
		 <%end%>

		    <%= link_to "抄袭检测", :controller => "cheatcheck", :action => "checkresult", :id => sta if can?(:manage,@assignment) if can?(:grade,sta)%>
			<%= link_to "评分", grade_assignment_student_course_assignment_path(@assignment,sta), :target => "_blank" if can?(:grade,sta)%>
			<%= link_to "删除", student_course_assignment_path(sta),:method => "delete" if can?(:destroy,sta)%>			
			
		</td> 
					
	</tr> 
	<%end%>   
	</tbody>

</table>
